<div class="mdl-grid mdl-grid--no-spacing vcard mdl-shadow--2dp" id="hcard-Timani-Tunduwani">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle"><img src="http://www.gravatar.com/avatar/bac5f46541d2e394355c0f46a03d81ff.jpg?s=200" alt="photo of " class="photo" width="85%" style="
    padding: 20px;"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone" style="
    padding: 35px;
">
                  <a class="url fn" href="https://timani.co.za">Timani Tunduwani</a>
                  <div class="adr"> <span class="country-name">United States</span></div>
                  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu.
                  Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis
                  </div>

              <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Read more &raquo;
                  </a>
              </div>    </div>
