

<div>
        <div class="demo-container mdl-grid">
          <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>
                <img src="https://placehold.it/1200x350" width="100%">
            </p>


            </div>
      </div>

<div class="demo-container mdl-grid">
<div class="mdl-cell mdl-cell--4-col">
  <h4 class="widget-title" style=" font-size: 18px;margin-bottom: 5px; margin-top: 10px;">Latest Posts</h4>
  <img src="https://placehold.it/350x150" width="100%"><div class="entry-content">

                   <h5 class="post-title"><a href="http://vervethemes.com/demos/semantic/soaring-spirits-in-the-wild/130" rel="bookmark" title="Soaring Spirits in the Wild">Soaring Spirits in the Wild</a></h5>

      <div class="post-meta"><p>
         <time class="post-meta-time updated" datetime="2014-09-14T13:11:14+00:00" title="September 14th, 2014 at 01:11pm">About a year ago</time>
           <span class="post-meta-author vcard"> by <a href="http://vervethemes.com/demos/semantic/author/graceng" rel="author" class="fn">Akira Ng</a></span>
                </p></div><div class="post-content">
        <p>Bearishly engagingly checked maladroitly koala mastodon the casually that from less hey seal that and ducked much a splashed fanatically tapir symbolically ferret and ducked much a splashed.
</p><p class="read-more"><a href="http://vervethemes.com/demos/semantic/soaring-spirits-in-the-wild/130" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Continue reading</a></p>
      </div>


    </div>

  </div>
  <div class="mdl-cell mdl-cell--4-col">
  <h4 class="widget-title" style=" font-size: 18px;margin-bottom: 5px; margin-top: 10px;">Latest Posts</h4>
  <img src="https://placehold.it/350x150" width="100%"><div class="entry-content">

                   <h5 class="post-title"><a href="http://vervethemes.com/demos/semantic/soaring-spirits-in-the-wild/130" rel="bookmark" title="Soaring Spirits in the Wild">Soaring Spirits in the Wild</a></h5>

      <div class="post-meta"><p>
         <time class="post-meta-time updated" datetime="2014-09-14T13:11:14+00:00" title="September 14th, 2014 at 01:11pm">About a year ago</time>
           <span class="post-meta-author vcard"> by <a href="http://vervethemes.com/demos/semantic/author/graceng" rel="author" class="fn">Akira Ng</a></span>
                </p></div><div class="post-content">
        <p>Bearishly engagingly checked maladroitly koala mastodon the casually that from less hey seal that and ducked much a splashed fanatically tapir symbolically ferret and ducked much a splashed.
</p><p class="read-more"><a href="http://vervethemes.com/demos/semantic/soaring-spirits-in-the-wild/130" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Continue reading</a></p>
      </div>


    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
  <h4 class="widget-title" style=" font-size: 18px;margin-bottom: 5px; margin-top: 10px;">Latest Posts</h4>
  <img src="https://placehold.it/350x150" width="100%"><div class="entry-content">

                   <h5 class="post-title"><a href="http://vervethemes.com/demos/semantic/soaring-spirits-in-the-wild/130" rel="bookmark" title="Soaring Spirits in the Wild">Soaring Spirits in the Wild</a></h5>

      <div class="post-meta"><p>
         <time class="post-meta-time updated" datetime="2014-09-14T13:11:14+00:00" title="September 14th, 2014 at 01:11pm">About a year ago</time>
           <span class="post-meta-author vcard"> by <a href="http://vervethemes.com/demos/semantic/author/graceng" rel="author" class="fn">Akira Ng</a></span>
                </p></div><div class="post-content">
        <p>Bearishly engagingly checked maladroitly koala mastodon the casually that from less hey seal that and ducked much a splashed fanatically tapir symbolically ferret and ducked much a splashed.
</p><p class="read-more"><a href="http://vervethemes.com/demos/semantic/soaring-spirits-in-the-wild/130" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Continue reading</a></p>
      </div>

    </div>
  </div>
  </div>

  <div class="demo-container mdl-grid">
      <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
          <img src="https://placehold.it/1200x350" width="100%"></div>
            <div class="mdl-cell mdl-cell--4-col"><img src="https://placehold.it/1200x350" width="100%"></div>
          </div>
      </div>
  </div>
</div>
