<header class="demo-header mdl-layout__header mdl-layout__header--scroll  mdl-color--grey-100 mdl-color-text--grey-800">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout__drawer-button"><i class="material-icons">menu</i></div>
    <div class="mdl-layout-spacer"></div>
    <nav class="demo-navigation mdl-navigation">
      <a class="mdl-navigation__link" target="_blank" href="https://twitter.com/timani_net/">Twitter</a>
      <a class="mdl-navigation__link" target="_blank" href="https://github.com/timani/">Github</a>
      <a class="mdl-navigation__link" target="_blank" href="{{ site.base-url }}/rss.xml">RSS</a>
    </nav>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search">
        <label class="mdl-textfield__label" for="search">Enter your query...</label>
      </div>
    </div>
  </div>
</header>
<div class="demo-ribbon"></div>

<div class="android-drawer mdl-layout__drawer">
        <h4 class="mdl-layout-title">
          Sidebar
        </h4>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Phones</a>
          <a class="mdl-navigation__link" href="">Tablets</a>
          <a class="mdl-navigation__link" href="">Wear</a>
          <a class="mdl-navigation__link" href="">TV</a>
          <a class="mdl-navigation__link" href="">Auto</a>
          <a class="mdl-navigation__link" href="">One</a>
          <a class="mdl-navigation__link" href="">Play</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Versions</span>
          <a class="mdl-navigation__link" href="">Lollipop 5.0</a>
          <a class="mdl-navigation__link" href="">KitKat 4.4</a>
          <a class="mdl-navigation__link" href="">Jelly Bean 4.3</a>
          <a class="mdl-navigation__link" href="">Android history</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Resources</span>
          <a class="mdl-navigation__link" href="">Official blog</a>
          <a class="mdl-navigation__link" href="">Android on Google+</a>
          <a class="mdl-navigation__link" href="">Android on Twitter</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">For developers</span>
          <a class="mdl-navigation__link" href="">App developer resources</a>
          <a class="mdl-navigation__link" href="">Android Open Source Project</a>
          <a class="mdl-navigation__link" href="">Android SDK</a>
        </nav>
      </div>
