<div class="mdl-layout__header-row" id="top-nav" style="display: block;text-align: center;">

  <div class="mdl-layout__tab-bar-container mdl-color--grey-100">
    <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-left-button">
      <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--grey-100 mdl-js-ripple-effect--ignore-events">
      <a href="{{ site.base-url }}/index.html" class="mdl-layout__tab is-active">
        Home
        <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
          <span class="mdl-ripple"></span>
        </span>
      </a>
      <a href="{{ site.base-url }}/blog/index.html" class="mdl-layout__tab">
        Blog
        <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
          <span class="mdl-ripple"></span>
        </span>
      </a>
      <a href="{{ site.base-url }}/archives/index.html" class="mdl-layout__tab">
        Archives
        <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect" >
          <span class="mdl-ripple"></span>
        </span>
      </a>
      <a href="{{ site.base-url }}/about/index.html" class="mdl-layout__tab">
        About
        <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
          <span class="mdl-ripple"></span>
        </span>
      </a>
      <a href="{{ site.base-url }}/contact/index.html" class="mdl-layout__tab">
        Contact
        <span class="mdl-layout__tab-ripple-container mdl-js-ripple-effect">
          <span class="mdl-ripple"></span>
        </span>
      </a>
      </div>
      <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-right-button">
        <i class="material-icons">chevron_right</i>
      </div>
    </div>
    <div style="margin-top: 50px;">
      <p>
          <img src="{{ site.base-url }}/img/placeholder.png" style="border-radius: 101px;">
      </p>
      <h4 class="entry-title">{{ page.title }}</h3>
        <p class="meta-section mdl-color-text--grey-500">
        </p><p class="meta-section tags mdl-color-text--grey-500">
          Posted <a class="p-author h-card" style="border-bottom:dotted; border-color:#ccc; color:#aaa; display:none" href="#">W. Developer</a>  on
          <time class="dt-published" datetime="2013-06-13 12:00:00"><span class="tutorial-date">Oct 14, 2013</span></time>
           <span class="hashtag-icon"> Categories: </span>
           <a class="" href="/community/tags/one-click-install-apps?type=tutorials">One-Click Install Apps</a>,
           <a class="" href="/community/tags/ghost?type=tutorials">Ghost</a>,
           <a class="" href="/community/tags/nginx?type=tutorials">Nginx</a>
        </p>
    </div>
</div>
