<div class="mdl-layout__header-row" id="top-nav" style="display: block;text-align: center;">
  {% assign current = page.url | downcase | split:'/' | first  %}

  <div class="mdl-layout__tab-bar-container mdl-color--grey-100">
    <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-left-button">
      <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--grey-100 mdl-js-ripple-effect--ignore-events">
      {% for menu in site.data.menu %}
        <a href="{{ site.base-url }}{{ menu.url }}"  class="mdl-layout__tab {% if page.url == menu.url %} is-active {% endif %}">
          {{ menu.name }} 
        </a>
    {% endfor %}
      </div>
      <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-right-button">
        <i class="material-icons">chevron_right</i>
      </div>
    </div>
    <div style="margin-top: 50px;">
      <div class="mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>
                <img src="{{ site.base-url }}/img/placeholder.png" >
            </p>
            <h4 class="entry-title">{{ page.title }}</h3>
              <p class="meta-section tags mdl-color-text--grey-500">
                Posted <a class="p-author h-card" style="border-bottom:dotted; border-color:#ccc; color:#aaa; display:none" href="#">W. Developer</a>  on
                <time class="dt-published" datetime="2013-06-13 12:00:00"><span class="tutorial-date">Oct 14, 2013</span></time>
                 <span class="hashtag-icon"> Categories: </span>
                 <a class="" href="/community/tags/one-click-install-apps?type=tutorials">One-Click Install Apps</a>,
                 <a class="" href="/community/tags/ghost?type=tutorials">Ghost</a>,
                 <a class="" href="/community/tags/nginx?type=tutorials">Nginx</a>
              </p>
            </div>
      </div>
    </div>
    </div>
</div>
