<div class="mdl-layout__header-row" id="top-nav" style="
    clear: both;
    display: block;
    text-align: center;
">

  <div style="
    overflow: hidden;
    display: block;
    clear: both;
    width: 100%;
"><img src="http://placehold.it/200x200" style="
    border-radius: 101px;
"><div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
            <span class="mdl-layout-title">
              <a href="{{ site.base-url }}" class="mdl-navigation__link mdl-typography--text-uppercase">Home</a>
            </span>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.base-url }}/blog/index.html">Blog</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.base-url }}/archives/index.html">Archives</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.base-url }}/about/index.html">About</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.base-url }}/contact/index.html">Contact</a>
            </nav>
          </div></div>

</div>
