<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.3.0/anchor.min.js"></script>

<script src="{{ site.base-url }}/js/prism.js"></script>
<!-- scripts concatenated and minified via ant build script-->
<script src="{{ site.base-url }}/js/plugins.js"></script>
<script src="{{ site.base-url }}/js/script.js"></script>

<!-- Material Design JS-->
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

<!-- you can create a custom build with specific languages this should go before the closing </body> -->


<!-- end scripts-->
