{% include head.html %}

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer">
    {% include nav.html %}
      <span class="mdl-ripple is-animating" ></span></span></a>
      <main  class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
              <div class="demo-crumbs mdl-color-text--grey-500">
                <a href="{{site.base-url}}" class="mdl-color-text--grey-500">Home</a> &raquo; {{page.title}}
              </div>
              <div class="section-spacer"></div>
              <h3 class="entry-title">{{ page.title }}</h3>
              {{ content }}
            </div>
        </div>
      </main>
      {% include footer.html %}
    </div>

    <div id="container">  </div> <!--! end of #container -->
{% include scripts.html %}
{% include analytics.html %}
{% include chromeframe.html %}
</body>
</html>
