{% include head.html %}

      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer">
          {% include menu.html %}
<a href="#" target="_blank" id="view-source"class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" data-upgraded=",MaterialButton,MaterialRipple">View Source<span class="mdl-button__ripple-container">
  <span class="mdl-ripple is-animating" ></span></span></a>
      <main  class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
              {% include nav.html %}
              <div class="demo-crumbs mdl-color-text--grey-500">
                <a href="{{site.base-url}}" class="mdl-color-text--grey-500">Home</a> &raquo;
                <a href="{{site.base-url}}/blog/index.html" class="mdl-color-text--grey-500">Blog</a> &raquo; {{ page.title }}
              </div>

              <article class="h-entry">
                <h4 class="entry-title">{{ page.title }}</h4>
                <div class="e-content">
                  <div>
                    <p class="meta-section tags  mdl-typography--text-uppercase">
                      Posted <a class="p-author h-card" style="border-bottom:dotted; border-color:#ccc; color:#aaa; display:none" href="#">W. Developer</a>  on
                      <time class="dt-published" datetime="2013-06-13 12:00:00"><span class="tutorial-date">Oct 14, 2013</span></time>
                       <span class="hashtag-icon"> Categories: </span>
                       <a class="" href="/community/tags/one-click-install-apps?type=tutorials">One-Click Install Apps</a>,
                       <a class="" href="/community/tags/ghost?type=tutorials">Ghost</a>,
                       <a class="" href="/community/tags/nginx?type=tutorials">Nginx</a>
                    </p>
                  </div>
                </div>
                  {{ content }}
              </article>
              {% include hcard.html %}

              <div id="disqus_thread"></div>
                  <script type="text/javascript">
                      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                      var disqus_shortname = 'timani'  ; // required: replace example with your forum shortname
                      // var disqus_developer = 1; // Comment out when the site is live
                      var disqus_identifier = "{{ page.url }}";

                      /* * * DON'T EDIT BELOW THIS LINE * * */
                      (function() {
                          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
            </div>
      </main>

    {% include footer.html %}


    <div id="container">  </div> <!--! end of #container -->
{% include scripts.html %}
{% include analytics.html %}
{% include chromeframe.html %}
</body>
</html>
