{% include head.html %}
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer">
                    {% include nav.html %}

<a href="#top-nav" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast"
>Scroll to top<span class="mdl-button__ripple-container">
  <span class="mdl-ripple is-animating" ></span></span></a>
      <main  class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

          <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
              <div class="demo-crumbs mdl-color-text--grey-500">
                <a href="{{site.base-url}}" class="mdl-color-text--grey-500">Home</a> &raquo;
                <a href="{{site.base-url}}/blog/index.html" class="mdl-color-text--grey-500">Blog</a> &raquo; {{ page.title }}
              </div>
              <article class="h-entry">
              <h3 class="entry-title">{{ page.title }}</h3>
                <p class="meta-section">
                  <i class="fa fa-clock-o"></i>
                    Posted on: <time class="dt-published" datetime="{{ page.date | date: "%-d %B %Y" }}"><span class="post-date">{{ page.date | date: "%-d %B %Y" }}</span></time>
                </p>
                  {{ content }}
                  <div class="mdl-grid" style="border-top: 1px solid #efefef;border-bottom: 1px solid #efefef;">
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="" style="">
                        <h6>&laquo; Prev</h6>
                          <a class="url fn" href="https://timani.co.za">Publishing a docker image and automating tests with travisci - Part 3 of 4</a>
                  <div class="adr"> <span class="country-name">Posted on Oct 14th, 2015</span></div>
                  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a></div></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone" style="


"><div class="" style="">
  <h6>Next &raquo;</h6>
                  <a class="url fn" href="https://timani.co.za">Using minimal Sculpin docker image to developing static sites - Part 2 of 4</a>
                  <div class="adr"> <span class="country-name">Posted on Nov 29th, 2015</span></div>
                  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a></div></div>
</div>
              </article>
              {% include hcard.html %}

              <div id="disqus_thread"></div>
                  <script type="text/javascript">
                      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                      var disqus_shortname = 'timani'  ; // required: replace example with your forum shortname
                      // var disqus_developer = 1; // Comment out when the site is live
                      var disqus_identifier = "{{ page.url }}";

                      /* * * DON'T EDIT BELOW THIS LINE * * */
                      (function() {
                          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
            </div>
      </main>

    {% include footer.html %}


    <div id="container">  </div> <!--! end of #container -->
{% include scripts.html %}
{% include analytics.html %}
{% include chromeframe.html %}
</body>
</html>
